<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>
  
  <div><%= f.label :name %>
  <%= f.text_field :name %></div>

  <div><%= f.label :contact %>
  <%= f.text_field :contact %></div>

  <div><%= f.label :address %>
  <%= f.text_field :address %></div>
  
  <div>Type<br /><select name="city_id" id="city_id">
  <option value="1">Patient</option>
  <option value="2">Doctor</option>
  </select></div>

  <div style="visiblity=hidden">hello</div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
